<html>
<head>
    <title>Company Page</title>
    <style>
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="/resources/css/app.css" rel="stylesheet"/>
</head>
<body ng-app="restDemoApp" class="ng-cloak">
<div class="generic-container" ng-controller="CompanyController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Company Registration Form </span></div>
        <div class="formcontainer">
            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.company.id"/>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label" for="name">Name</label>

                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.company.name" name="name" id="name"
                                   class="name form-control input-sm" placeholder="Enter company name" required/>

                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.name.$error.required">This is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label" for="address">Address</label>

                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.company.address" name="address" id="address"
                                   class="form-control input-sm address" placeholder="Enter company Address" required/>

                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.address.$error.required">This is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label" for="city">City</label>

                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.company.city" name="city" id="city" class="form-control input-sm city"
                                   placeholder="Enter company City" required/>

                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.city.$error.required">This is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label" for="country">Country</label>

                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.company.country" name="country" id="country" class="form-control input-sm country"
                                   placeholder="Enter company Country" required/>

                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.country.$error.required">This is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label" for="email">Email</label>

                        <div class="col-md-7">
                            <input type="email" ng-model="ctrl.company.email" name="email" id="email"
                                   class="email form-control input-sm" placeholder="Enter company Email"/>

                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.email.$invalid">This field is invalid </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label" for="phoneNumber">Phone Number</label>

                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.company.phoneNumber" name="phoneNumber" id="phoneNumber"
                                   class="form-control input-sm phoneNumber" placeholder="Enter company Phone Number"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label" for="owners">Owners</label>

                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.company.owners" name="owners" id="owners"
                                   class="form-control input-sm owners" placeholder="Enter owners separated by commas"
                                   ng-list required/>

                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.owners.$error.required">This is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit" value="{{!ctrl.company.id ? 'Add' : 'Update'}}"
                               class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">

                        <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm"
                                ng-disabled="myForm.$pristine">
                            Reset Form
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Companies </span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID.</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th width="25%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="u in ctrl.companies">
                    <td><span ng-bind="u.id"></span></td>
                    <td><span ng-bind="u.name"></span></td>
                    <td><span ng-bind="u.address"></span></td>
                    <td>
                        <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success">View
                        </button>
                        <button type="button" ng-click="ctrl.addOwner(u.id)" class="btn btn-success">Add Owner
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script src="/resources/js/app.js"></script>
<script src="/resources/js/service/companyService.js"></script>
<script src="/resources/js/controller/companyController.js"></script>
</body>
</html>